<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="robots" content="noindex">
	<meta name="description" content="404 - Rien à voir ici">
	<title>Guillaume Floris Photographe</title>
	<link rel="stylesheet" type="text/css" href="main.css">
	<link rel="icon" href="interface/favicon.svg" type="image/svg+xml">
</head>

<body>
	<div class="default-page">
		<div>
			<h1>404</h1>
			<p>Retourner sur la <a href="/">page principale</a>.</p>
		</div>
	</div>
</body>
</html>